html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
* {
    font-family: 'Brush Script MT', 'Times New Roman', Times, serif;
    font-size: 36px;
    color: rgb(33, 228, 82);
    background-color: black;  
}

h1 {
    font-size: 42px;
    font-weight: bold;
    text-align: center
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

ul {
    text-align: center;
    display: inline;
}
