*
{
    font-family: 'Brush Script MT', 'Times New Roman', Times, serif;
    font-size: 36px;
    color: rgb(58, 128, 0);
    background-color: black;
    
}

h1 
{
    font-size: 42px;
    font-weight: bold;
    text-align: center
}

h2
{
    text-align: center;
}
